<%= form_for(@message) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <p><%= pluralize(@message.errors.count, "error") %> prohibited this screenshot from being saved:</p>

      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :url %>: <br />
    <%= f.text_field :url, placeholder: 'http://responsiveshots.com' %>
  </div>
  <div class="field">
    <%= f.label :email %>: <br />
    <%= f.text_field :email, placeholder: "you@gmail.com" %>
  </div>

  <label>Screen Sizes:</label>
  <ul class="inline-icon-list">
    <% Size.common.each do |size| %>
      <li><%= fa_icon size.icon + ' 3x', title: size.display %></li>
    <% end %>
  </ul>

  </div>
  <div class="actions">
    <%= f.submit @button %>
  </div>
<% end %>
