<h1>Listing messages</h1>


<% @messages.each do |message| %>
<p>
  <b>Delivered:</b>
  <% if message.queued %>
    Queued up
  <% else %>
    <%= message.delivery_time %>
  <% end %>
</p>

<p>
  <b>Url:</b>
  <%= message.url %>
</p>

<p><%= link_to 'Show', message %></p>
<p><%= link_to 'Edit', edit_message_path(message) %></p>

<% end %>


<%= link_to 'New Message', new_message_path %>
