<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @message.description %>
</p>

<p>
  <strong>Error:</strong>
  <%= @message.error %>
</p>

<p>
  <strong>Token:</strong>
  <%= @message.token %>
</p>

<p>
  <strong>Email:</strong>
  <%= @message.email %>
</p>

<p>
  <strong>Url:</strong>
  <%= @message.url %>
</p>

<p>
  <strong>Delivered:</strong>
  <%= @message.delivered %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
