<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @message.email %>
</p>

<p>
  <b>Delivered:</b>
  <% if @message.queued %>
    Queued up for delivery
  <% else %>
    <%= @message.delivery_time %>
  <% end %>
</p>

<p>
  <b>Url:</b>
  <%= @message.url %>
</p>

<p><b>Sizes:</b></p>

<ul class="inline-icon-list">
  <% Size.common.each do |size| %>
    <li>
        <%= message_icon size, @message.has_screenshot_with_size?(size.id) %>
    </li>
  <% end %>
</ul>

<%#= link_to 'Resend', run_screenshot_path(@screenshot, token: @screenshot.token, email: @screenshot.email) %> &#8226; 
<%= link_to 'Edit', edit_message_path(@message) %> &#8226; 
<%= link_to 'New', new_message_path %>
