<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="A quick way to take screenshots of a webpage. Good for checking responsive layouts. Can also POST after code push to do a quick sanity check.">
  <title>Responsive Shots</title>
    <title>ResponsiveShots</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <% if Rails.env.production? %>
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36383696-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

	</script>
	<% end %>
  <%= csrf_meta_tags %>
</head>
<body>

<section class="content">
	<h1><a href="/">Responsive Shots</a></h1>
	<p>Quickly email screenshots of any site at any resolution.</p>
<%= yield %>
</section>
<footer>
	<ul>
    <li><%= link_to 'More info', static_home_path %></li>
		<li><%= link_to 'Dev API', static_home_path %></li>
	</ul>
</footer>

<section class="background">
	<div>
		<table><tr><td><%= image_tag "desk-bw-small.jpg" %></td></tr></table></div>
</section>

</body>
</html>
